@font-face {
	font-family: "Chosunilbo_myungjo";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "행복고흥L";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "HeirofLightRegular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
/*배경/기본 ---------------------------------------------------*/

.charsheet.bind hr {
	margin: 0px;
}
.charsheet select,
.charsheet div,
.charsheet button,
.charsheet textarea,
.charsheet span,
.charsheet img,
.charsheet label {
	box-sizing: border-box;
	outline: 0;
}
.charsheet .bind select,
.charsheet .bind input[type="checkbox"],
.charsheet .bind input[type="radio"],
.charsheet .bind button {
	cursor: pointer;
}
.charsheet .bind input {
	box-sizing: border-box;
	outline: 0;
	padding: 0px;
	text-align: center;
}
.charsheet .bind input:focus,
.charsheet .bind textarea:focus {
	outline: none;
}
.charsheet .bind button.btn.ui-draggable::before {
	content: " ";
}
.charsheet .bind button[type="roll"] {
	border: none;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: none;
	margin: auto;
}

/*디폴트 스타일 값 ---------------------------------------------------*/
.charsheet {
	color: #f1f1f1;
	background-color: #131316;
	border: solid rgb(0, 0, 0) 1px;
	font-family: "Chosunilbo_myungjo";
	font-weight: bold;
	font-size: 12px;
	border-radius: 1px;
	background-image: url("https://i.imgur.com/5GZde8V.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 830px;
	position: absolute;
}
.charsheet .bind {
	margin: 15px;
}
.wrap {
	background: rgba(0, 0, 0, 0.185);
	border-radius: 5px;
	margin: 5px;
	padding: 10px;
}

/*옵션 ---------------------------------------------------*/
.title {
	font-family: "행복고흥L";
	font-size: 40px;
	text-align: center;
	line-height: 50%;
}
.title::before,
.title::after {
	content: "  ";
	color: #cd0321;
	font-family: "HeirofLightRegular";
}
.subtitle {
	text-align: center;
}
.box {
}
.charsheet input {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	border: 1px solid rgba(0, 0, 0);
	font-size: 12px;
}
.charcheet textarea {
}

/*옵션 ---------------------------------------------------*/
input.option.area:checked ~ *.function.wrap {
	display: none;
}
input.option.area {
	width: 150px;
	height: 20px;
	cursor: pointer;
	margin-left: auto;
	margin-top: auto;
	opacity: 0;
	z-index: 9999;
	border-radius: 4px;
}
input.option.area:checked + a.option.btn::after {
	content: "더보기";
}
input.option.area:checked ~ *.function.wrap {
	display: none;
}
a.option.btn {
	padding: 0px 35px;
	background-size: 200% auto;
	color: white;
	border-radius: 3px;
	border: 1px solid black;
	background: #35353b;
	margin-left: -150px;
	text-shadow: none;
	box-shadow: none;
}
a.option.btn:hover {
	color: white;
	text-decoration: none;
}
a.option.btn::after {
	content: "닫기";
}

/*플레이 기록 ---------------------------------------------------*/
.downtime.wrap {
	display: none;
	padding: 20px;
}
input.add_function_downtime[value="1"]:checked ~ .downtime.wrap {
	display: block;
}
.downtime.title {
	margin-top: 0px;
}
.downtime.box {
}
.downtime.line1 {
	display: grid;
	grid-template-columns: 0.4fr 3fr;
	text-align: left;
	margin-bottom: 10px;
}
input.senario-title {
	width: 100%;
	text-align: left !important;
	font-family: "Chosunilbo_myungjo";
	font-size: 11px;
}
.downtime.line2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
}
textarea.attr_scenario_info,
textarea.attr_scenario_rewards {
	font-size: 11px;
	background-color: rgba(255, 255, 255, 0.7);
	color: rgb(88, 85, 85);
	border: 1px solid white;
	font-family: "Chosunilbo_myungjo";
	height: 100px;
	font-size: 11px;
}

/*메인 그리드1---------------------------------------------------*/
.basic1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 20px;
}

/* 바이오 ---------------------------------------------------*/
.info.wrap {
	display: grid;
}
.info.title {
	margin-top: 0px;
}
.info.box {
	display: grid;
	grid-template-columns: 0.7fr 2fr;
	row-gap: 5px;
}
input.info {
	width: 100%;
}
/*특성치 ---------------------------------------------------*/
.status.wrap {
}
.status.title {
	margin-top: 0px;
}
.status.box {
	display: grid;
	row-gap: 2px;
	display: grid;
	row-gap: 5px;
}
.status.section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.status.innergrid {
	display: grid;
	grid-template-columns: 1fr 2fr 0.5fr;
	align-items: center;
}
.status.subtitle {
	grid-area: 1/1/1/2;
	font-size: 10px;
}
input.status {
	width: fit-content;
	width: 70px;
	margin: 0px 5px;
	height: 35px !important;
	justify-self: center;
	font-size: 15px;
	grid-area: 2/1/4/2;
}
/*버튼1*/
button[type="roll"].status:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].status {
	background-color: transparent;
	background-image: url(https://i.imgur.com/xtVG6PT.png);
	height: 19px;
	width: 19px;
	border-radius: 4px;
	border: none;
	justify-self: end;
	grid-area: 2/2/3/3;
}
/*버튼2*/
button[type="roll"].status1:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].status1 {
	background-color: transparent;
	background-image: url(https://i.imgur.com/xtVG6PT.png);
	height: 19px;
	width: 19px;
	border-radius: 4px;
	border: none;
	justify-self: end;
	grid-area: 3/2/3/3;
}

/*메인 그리드2---------------------------------------------------*/
.basic2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 20px;
	padding-bottom: 0px;
	border-radius: 10px;
}
/*체력---------------------------------------------------*/
.hp.wrap {
	margin-right: 0px;
	padding-bottom: 0px;
}
.hp.title {
	margin-top: 0px;
}
.hp.box {
	margin-top: 4px;
	margin-bottom: 5px;
}
.hp1 {
	display: flex;
}
.hp1 > input {
	margin: 2px;
}
.hp.subtitle-top {
	margin: 0px 0px 5px;
	border-radius: 3px;
	background-color: #35353b;
	color: white;
	border: 1px solid black;
	width: 100%;
	text-align: center;
}
.hp.subtitle {
	margin: 20px 0px 5px;
	border-radius: 3px;
	background-color: #35353b;
	color: white;
	border: 1px solid black;
	width: 100%;
}
input.secondary-attr-input-HP {
	width: 100% !important;
}
input.secondary-attr-input-HP::placeholder {
	color: #afa7a7;
}
.status-mov {
	width: 100%;
}

.hp-filter {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr 1fr;
	align-items: center;
	justify-items: center;
	font-size: 9px;
	margin: 2px;
	width: 100%;
	grid-area: 2/1/3/4;
}
/*로고---------------------------------------------------*/
.logo.wrap {
	text-align: center;
	background: transparent;
	padding: 0px;
	grid-area: 1/2/4/3;
}
img.logo {
	width: 100%;
	margin: 0 auto;
	margin-top: -10px;
}
/*이성 ---------------------------------------------------*/
.san.wrap {
	margin-left: 0px;
	grid-area: 1/3/2/4;
}
.san.title {
	margin-top: 0px;
}
.san.box {
}
input.san::placeholder {
	color: #afa7a7;
}
/*1줄:이성치기입 */
.san.section1 {
	margin-bottom: 20px;
}
input.san.start {
	margin-bottom: 5px;
	border-radius: 3px;
	background-color: #35353b;
	color: white;
	border: 1px solid black;
	width: 100%;
}
input.san.start::placeholder {
	color: rgb(207, 207, 207);
}
input[type="number"].san.current {
	width: 61px;
}
/*버튼1*/
button[type="roll"].san.current:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].san.current {
	background-color: transparent;
	background-image: url(https://i.imgur.com/xtVG6PT.png);
	height: 18px;
	width: 18px;
	border: none;
	justify-self: end;
}
/*버튼2*/
button.san.current2:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].san.current2 {
	background-color: transparent;
	background-image: url(https://i.imgur.com/xtVG6PT.png);
	height: 18px;
	width: 18px;
	border: none;
	justify-self: end;
}
/*2줄:광기의 발작 */
.san.section2 {
	margin-bottom: 20px;
}
.san.subtitle {
	background-color: #35353b;
	color: white;
	border: 1px solid black;

	margin-bottom: 5px;
	border-radius: 3px;
}
.san.bom {
	display: grid;
	grid-template-columns: 3fr 1fr 3fr 1fr;

	align-items: center;
	justify-items: center;
}
.san.bomindication {
	font-size: 9px;
}
input.san.bom {
}
/*발작 버튼1*/
button[type="roll"].san.bom:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].san.bom {
	background-color: transparent;
	background-image: url(https://i.imgur.com/xtVG6PT.png);
	height: 13px;
	width: 13px;
	border: 1px solid #ffffff;
	justify-self: end;
	border-radius: 2.5px;
}
/*발작 버튼2*/
button[type="roll"].san.bom1:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].san.bom1 {
	background-color: transparent;
	background-image: url(https://i.imgur.com/xtVG6PT.png);
	height: 13px;
	width: 13px;
	border: 1px solid #ffffff;
	justify-self: end;
	border-radius: 2.5px;
}
/*3줄:현재 정신상태 */
.san.section3 {
}
input.san.cmc {
}
input.san.cmc::placeholder {
	color: #afa7a7;
}

/*마력---------------------------------------------------*/
.mp.wrap {
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
}
.mp.title {
	margin-top: 0px;
}
.mp.box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 5px;
	margin-top: 4px;
	margin-bottom: 5px;
	align-items: center;
	justify-items: center;
}
input.mp {
	width: 100% !important;
}
input.mp::placeholder {
	color: #afa7a7;
}
/*행운---------------------------------------------------*/
.luk.wrap {
	margin-left: 0px;
	margin-top: 0px;
}
.luk.title {
	margin-top: 0px;
}
.luk.box {
	display: grid;
	grid-template-columns: 3fr 0.25fr 0.25fr;
	column-gap: 5px;
	align-items: center;
	justify-items: center;
	margin-top: 4px;
	margin-bottom: 5px;
}
input.luk {
	width: 100% !important;
}
input.luk::placeholder {
	color: #afa7a7;
}

/*버튼1*/
button[type="roll"].luk:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].luk {
	background-color: transparent;
	background-image: url(https://i.imgur.com/xtVG6PT.png);
	height: 19px;
	width: 19px;
	border-radius: 4px;
	border: none;
	justify-self: end;
}
/*버튼2*/
button[type="roll"].luk1:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].luk1 {
	background-color: transparent;
	background-image: url(https://i.imgur.com/xtVG6PT.png);
	height: 19px;
	width: 19px;
	border-radius: 4px;
	border: none;
	justify-self: end;
}

/*상단 스테이터스 ---------------------------------------------------*/
.build-db.wrap {
	margin-left: 0px;
	margin-top: 0px;
	grid-area: 3/3/4/4;
}
.build-db.title {
	margin: 0px;
}
.build-db.box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 5px;
	margin-top: 4px;
	align-items: center;
	justify-items: center;
}
input.build-db {
	width: 123.34px;
	height: 20px;
}
select.build-db {
	margin: 0px !important;
	text-align: center;
	width: 123.34px;
	height: 20px;
	font-size: 12px;
	padding: 0px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	border: 1px solid rgb(0, 0, 0);
	font-size: 12px;
}

/*다이스---------------------------------------------------*/
.dice.wrap {
	background: rgba(5, 4, 4, 0.6);
}
.dice.title {
}
.dice.box {
	padding: 0px 10px;
}
.dice.line1 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
input.dice-roll-input {
	background: transparent;
	border: none;
	width: 100%;
}
input.dice-roll-input::placeholder {
	color: #afa7a7;
}
.dice.line2 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.skill.line1,
.skill.line2 {
	display: grid;
}
.dice.subtitle {
}
/* 다이스 버튼*/
button[type="roll"].smallnonskillbutton-roll {
	background-color: transparent;
	background-image: url(https://i.imgur.com/xtVG6PT.png);
	border: 1px solid #767676;
	justify-self: end;
	border-radius: 2.5px;
	width: 18px;
	height: 18px;
}
button[type="roll"].smallnonskillbutton-roll:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}

/* 기능치--------------------------------------------- */
.skill.wrap {
	margin-bottom: 20px;
}
.skill.title {
}
.skill.box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 40px;
	padding: 10px 10px 10px 10px;
}
.skillset {
	display: grid;
	grid-template-columns: 0.5fr 5fr 1fr 1fr 1fr;
	margin: 1px;
}
.skill.subtitle {
	text-align: left;
	border: none;
	margin-left: 5px;
	font-size: 11px;
}
input.skill.name {
	width: 45px;
	margin-right: 5px !important;
}
input.skill.name.additional {
	border: none;
	background-color: transparent;
	font-size: 12px;
	width: 100%;
	text-align: left;
	margin-left: 5px;
	font-size: 11px;
}
input.skill.name.additional::placeholder {
	color: #35353b;
}
/*체크박스*/
input.skill.cb {
	cursor: pointer !important;
	margin-left: auto;
	margin-top: auto;
	position: absolute;
	z-index: 9999 !important;
	opacity: 0;
}
.fake.cb {
	width: 13px;
	height: 13px;
	background-image: url(https://i.imgur.com/iJYvYHM.png);
	background-size: contain;
}
input.skill.cb.cb[value="1"]:checked ~ .fake.cb {
	background-image: url(https://i.imgur.com/SCm2GbZ.png);
	transition-duration: 0.5s;
	transform: rotate(0.25turn);
}

/*버튼1*/
button[type="roll"].skill {
	background-color: transparent;
	background-image: url(https://i.imgur.com/xtVG6PT.png);
	height: 20px;
	width: 20px;
	border: none;
	justify-self: end;
	transition: 0.3s;
	filter: drop-shadow(1px 1px 0px #5d000d);
}

button[type="roll"].skill:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].skill:active {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
	transform: translateX(1px) translateY(1px);
}
/*버튼2*/
button[type="roll"].skill2 {
	background-color: transparent;
	background-image: url(https://i.imgur.com/r1jumbU.png);
	height: 20px;
	width: 20px;
	border: none;
	justify-self: end;
	transition: 0.3s;
	filter: drop-shadow(1px 1px 0px #5d000d);
}
button[type="roll"].skill2:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].skill2:active {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
	transform: translateX(1px) translateY(1px);
}

/*다른 기능치*/
.skill-reminder.wrap {
	padding: 0px;
	background: transparent;
	position: absolute;
	margin-top: 20px;
	backdrop-filter: none;
}
.skill-reminder.subtitle {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
.skill-reminder.subbox {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-size: 10px;
}
.skill-reminder.otherskill {
}

input[type="checkbox"].skill.cb {
	display: block;
	margin: 0px 5px 0px 0px;
}

/* 전투-------------------------------------------- */
.COMBAT.wrap {
	display: block;
}
.COMBAT.title {
}
.COMBAT.box {
	padding: 0px 20px 0px 20px;
}
.COMBAT.line,
.COMBAT.line1 {
	display: flex;
}

input.ATK.dif {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0);
	color: #50505c;

	width: 121.85px;
	margin: 1px;
}

input.ATK.def1 {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0);
	color: #50505c;

	margin: 1px;
	width: 70px;
}

input.ATK.def2 {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0);
	color: #50505c;

	width: 102px;
	margin: 1px;
}

input.ATK.dif::placeholder,
input.ATK.def1::placeholder,
input.ATK.def2::placeholder {
	color: #50505c;
}

/*활성화*/
select.ATK {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0);
	color: #ffffff;

	width: 114.89px;
	margin: 0px;
	height: 20px;
	padding: 0px;
	text-align: center;
	margin: 1px;
	font-size: 11px;
}
input.ATK {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0);
	color: #ffffff;

	margin: 1px;
	font-size: 11px;
	width: 70px;
}

input.ATK.default {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0);
	color: #ffffff;

	width: 121.85px;
	margin: 1px;
}

/*공격 버튼1*/
button[type="roll"].ATK1:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].ATK1 {
	background-color: transparent;
	background-image: url(https://i.imgur.com/xtVG6PT.png);
	border: none;
	justify-self: end;
	height: 18px;
	width: 18px;
	margin: 1px !important;
}
/*공격 버튼2*/
button[type="roll"].ATK2:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].ATK2 {
	background-color: transparent;
	background-image: url(https://i.imgur.com/r1jumbU.png);
	height: 18px;
	width: 18px;
	margin: 1px !important;
}
/* 장비와 소지품-------------------------------------------- */
.gear_poss {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
/* 장비 */
.gear.wrap,
.poss.wrap {
	padding: 10px;
}
.gear.box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 8px;
}
.gear.subtitle {
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 2px;
	width: 100%;
}
textarea.EQUIP,
textarea.BELONG,
textarea.ASSET {
	font-family: "Chosunilbo_myungjo";
	font-size: 11px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.5);
}
textarea.EQUIP,
textarea.BELONG {
}
/* 현금과 자산 */
.poss.title {
}
.poss.box {
	display: grid;
	row-gap: 3px;
}
.poss.section1 {
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.poss.section1 > .poss.subtitle {
	text-align: left;
}
.poss.section2 {
	display: grid;
}
.poss.section2 > .poss.subtitle {
	margin-top: 10px;
}
input.CASH,
input.SPEND {
	width: 100%;
	font-family: "Chosunilbo_myungjo";
	font-size: 11px;
}
textarea.ASSET {
	height: 100px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.5);
}
/* 백스토리---------------------------------------- */
.backstory.wrap {
	background: transparent;
	backdrop-filter: none;
	background-color: rgba(0, 0, 0, 0.185);
}
.backstory.title {
}
.backstory.box {
	display: grid;
	row-gap: 10px;
}
.backstory.sub-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 0px;

	border-radius: 5px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.5);
}

.backstory.box > div {
	padding: 5px;
}
.backstory.sub-box > div span {
	margin-left: 5px;
}
.backstory.sub-box > div:nth-child(2) textarea {
	border-left: 2px dotted rgb(93 0 0);
}
textarea.backstory-box {
	font-family: "Chosunilbo_myungjo";
	height: 120px;
	font-size: 11px;
	border: none;
	margin: 5px 0px;
	/*border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.5);*/

	border: none;
	border-radius: 0px;
	background-color: transparent;
}
/*디폴트버튼-------------------------------------------- */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.5);
}

div[class^="repcontrol"] {
	margin: 0 0 0;
}

div[class="repcontainer editmode"] ~ div[class^="repcontrol"] button[class="btn repcontrol_add"] {
	display: inline-block !important;
	visibility: hidden;
}
.charsheet .repcontainer .repitem .itemcontrol .repcontrol_move {
	cursor: move;
	text-shadow: none;
	height: 16px;
	width: 16px;
	padding: 0px;
	color: white;
	border: none;
	background: rgba(255, 255, 255, 0.2);
}
.charsheet .repcontrol_edit,
.charsheet .repcontrol_del {
	display: block;
	color: white;
	box-shadow: none;
	font-size: 8px;
	text-shadow: none;
	padding: 0px 10px !important;
	border: none;
	background: rgba(255, 255, 255, 0.2);
}
.charsheet .repcontrol_add {
	display: block;
	color: white;
	box-shadow: none;
	font-size: 8px;
	text-shadow: none;
	padding: 0px 10px !important;
	border: none;
	background: rgba(255, 255, 255, 0.2);
}
/*조력자 ---------------------------------------------------*/
input.add_function_npcsheet[value="1"]:checked ~ div.npc.wrap {
	display: block;
}
.charsheet div.npc.wrap {
	display: none;
}
.npc.wrap {
	margin: 0 auto;
}
.npc.box {
	margin: 0px 10px;
}
.npc.title {
	letter-spacing: 8px;
	font-family: "Chosunilbo_myungjo";
	font-size: 15px;
	margin: 0px 0px 10px 0px;
	color: #dcdee4;
}
.npc-section1 {
	display: grid;
	grid-template-columns: 3fr 1fr;
	column-gap: 5px;
}
input.namenpc {
	border-radius: 5px;
	height: 41px !important;
	font-size: 19px;

	width: 100%;
	text-align: center;
}
input.namenpc::placeholder {
	color: #afa7a7;
}
.NPC-san1 {
	background-color: transparent;
	color: white;

	border-radius: 4px;
	margin-bottom: 2px;
	text-align: center;
	font-weight: normal;
	height: 20px;
	font-size: 12px;
	margin-right: 2px;
}
.NPC-san2 {
	display: grid;
	grid-template-columns: 6fr 1fr;
	justify-items: end;
}
input[type="text"].narrow-input-NPC-san {
	height: 20px;
	text-align: center;
	font-weight: 400;
	border-radius: 4px;
	width: 100%;
}
textarea.npc {
	background-color: rgba(255, 255, 255, 0.7);
	color: rgb(255, 148, 148);
	border: 1px solid white;
	font-family: "Chosunilbo_myungjo";

	margin-bottom: 10px;
	font-size: 11px;
}
.NPC-section2 {
	display: grid;
	grid-template-columns: 3fr 2fr 2fr;
	column-gap: 10px;
}
.npc.subtitle {
	color: white;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	margin-bottom: 2px;
	text-align: center;
	font-weight: normal;
	height: 20px;
	font-size: 12px;
}
.npc-statbox {
	display: flex;
	margin-bottom: 10px;
}
input.npc-stat {
	background-color: #ffffff2d;
	border: none;
	color: white;
	text-align: center;
	width: 100%;
}
input.npc-stat::placeholder {
	color: #afa7a7;
}
input.npc-stat1 {
	background-color: #ffffff2d;
	border: none;
	color: white;
	text-align: center;
	width: 100%;
}
input.npc-stat1::placeholder {
	color: #afa7a7;
}

.NPC-section3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
}
.npc-statbox1 {
	display: grid;
	grid-template-columns: 3fr 1fr 0.1fr;
	column-gap: 2px;
	margin-bottom: 2px;
}
/* 조력자 버튼 */
button[type="roll"].smallbutton-roll:hover {
	background-position: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/A6dmTDy.png);
}
button[type="roll"].smallbutton-roll {
	background-color: transparent;
	background-image: url(https://i.imgur.com/xtVG6PT.png);
	border: 1px solid #767676;
	justify-self: end;
	border-radius: 2.5px;
	width: 18px;
	height: 18px;
}
/*하단 장식----------------------------------------------------- */
.footer {
	text-align: center;
	margin: 20px;
}
.type2 {
	font-family: "Chosunilbo_myungjo";
	font-size: 8px;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 2px;
	color: #7f0000;
	text-shadow: 0 0 1px rgb(81 0 0);
}

/* ------------ 롤테이블------------------------------------------------------ */
/*기본 다이스---------------------------------------------------*/
.sheet-rolltemplate-coc-dice-roll {
	max-width: 500px;
	width: 100%;
	text-align: center;
	font-family: "Chosunilbo_myungjo";
	color: white;
}
.sheet-rolltemplate-coc-dice-roll div.sheet-top {
	background-color: #1c1c20;
	border: 1px solid rgb(0, 0, 0);

	padding: 1px 10px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 11px;
}
.sheet-rolltemplate-coc-dice-roll div.sheet-body {
	border: 1px solid rgb(0, 0, 0);
	background-color: #35353b;
}
.sheet-rolltemplate-coc-dice-roll div.sheet-result {
	font-size: 18px;
	color: rgb(183 0 0);
	text-shadow: 1px 1px 8px rgb(0 0 0), 1px 1px 10px #000;
	margin: 20px;
}
.sheet-rolltemplate-coc-dice-roll .inlinerollresult,
.sheet-rolltemplate-coc-dice-roll .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-dice-roll .inlinerollresult.fullfail,
.sheet-rolltemplate-coc-dice-roll .inlinerollresult.importantroll {
	background-color: transparent;
	border: none;
}
.sheet-rolltemplate-coc-dice-roll .inlinerollresult.showtip.tipsy-n-right {
	background-color: transparent !important;
	border: none !important;
}

/* ---- 명중 ----*/
.sheet-rolltemplate-coc-body-hit-loc {
	width: 100%;
	text-align: center;
	font-family: "Chosunilbo_myungjo";
	color: white;
}
.sheet-rolltemplate-coc-body-hit-loc div.sheet-top {
	background-color: #1c1c20;

	padding: 1px 10px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 11px;
	border: 1px solid rgb(0, 0, 0);
}
.sheet-rolltemplate-coc-body-hit-loc div.sheet-body {
	border: 1px solid rgb(0, 0, 0);
	background-color: #35353b;
}
.sheet-rolltemplate-coc-body-hit-loc div.sheet-section1 {
	font-size: 12px;
	color: #c4c4c4;
	margin-top: 20px;
}
.sheet-rolltemplate-coc-body-hit-loc div.sheet-section2 {
	font-size: 18px;
	color: rgb(183 0 0);
	text-shadow: 1px 1px 8px rgb(0 0 0), 1px 1px 10px #000;
	margin-bottom: 20px;
}
.sheet-rolltemplate-coc-body-hit-loc .inlinerollresult,
.sheet-rolltemplate-coc-body-hit-loc .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-body-hit-loc.inlinerollresult.fullfail,
.sheet-rolltemplate-coc-body-hit-loc .inlinerollresult.importantroll {
	background-color: transparent;
	border: none;
}

.sheet-rolltemplate-coc-body-hit-loc .inlinerollresult.showtip.tipsy-n-right {
	background-color: transparent !important;
	border: none !important;
}
/* 실시간 광기의 발작 롤테이블 ---------------------------------------------------*/
.sheet-rolltemplate-coc-bomadness-rt {
	max-width: 500px;
	width: 100%;
	text-align: center;
	font-family: "Chosunilbo_myungjo";
	color: white;
}

/*메인*/
.sheet-rolltemplate-coc-bomadness-rt div.sheet-body {
	margin-bottom: 2px;
	background-image: url(https://i.imgur.com/5GZde8V.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px 0px;
	border: 1px solid rgb(0, 0, 0);
}

.sheet-rolltemplate-coc-bomadness-rt div.sheet-section1 {
	margin-bottom: 10px;
}
.sheet-rolltemplate-coc-bomadness-rt div.sheet-lable {
	font-size: 10px;
	text-align: left;
	margin-left: 5px;
	color: white;
	text-shadow: 0 0 2px white;
}
.sheet-rolltemplate-coc-bomadness-rt div.sheet-section2 {
}
.sheet-rolltemplate-coc-bomadness-rt div.sheet-lable1 {
	font-size: 18px;
	color: #fff;
	text-shadow: 1px 1px 8px rgb(0 0 0), 1px 1px 10px #000;
	text-align: center;
	margin: 10px;
}
.sheet-rolltemplate-coc-bomadness-rt div.sheet-description {
	text-align: left;
	font-size: 11px;
	margin: 10px;
	background: rgb(0 0 0 / 50%);
	border-radius: 10px;
	border: 1px solid black;
	color: #b9b9b9;
	padding: 5px;
}
.sheet-rolltemplate-coc-bomadness-rt div.sheet-foot {
	text-align: left;
	font-size: 12px;
	background-color: rgb(90 90 90);
	border-radius: 1px;
	margin-bottom: 10px;
	padding: 2px 10px;
	margin-top: -2px;
}
/*디폴트*/
.sheet-rolltemplate-coc-bomadness-rt .inlinerollresult,
.sheet-rolltemplate-coc-bomadness-rt .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-bomadness-rt.inlinerollresult.fullfail,
.sheet-rolltemplate-coc-bomadness-rt .inlinerollresult.importantroll {
	background-color: transparent;
	border: none;
}
.sheet-rolltemplate-coc-bomadness-rt .inlinerollresult.showtip.tipsy-n-right {
	background-color: transparent !important;
	border: none !important;
}
/* 요약 광기의 발작 테이블 ---------------------------------------------------*/
.sheet-rolltemplate-coc-bomadness-summ {
	max-width: 500px;
	width: 100%;
	text-align: center;
	font-family: "Chosunilbo_myungjo";
	color: white;
}
/*메인*/
.sheet-rolltemplate-coc-bomadness-summ div.sheet-body {
	margin-bottom: 2px;
	background-image: url(https://i.imgur.com/5GZde8V.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px 0px;
	border: 1px solid white;
}
.sheet-rolltemplate-coc-1 div.sheet-section1 {
	margin-bottom: 10px;
}
.sheet-rolltemplate-coc-bomadness-summ div.sheet-lable {
	font-size: 10px;
	text-align: left;
	margin-left: 5px;
	color: white;
	text-shadow: 0 0 2px white;
}
.sheet-rolltemplate-coc-1 div.sheet-section2 {
}
.sheet-rolltemplate-coc-bomadness-summ div.sheet-lable1 {
	font-size: 18px;
	color: #fff;
	text-shadow: 1px 1px 8px rgb(0 0 0), 1px 1px 10px #000;
	text-align: center;
	margin: 10px;
}
.sheet-rolltemplate-coc-bomadness-summ div.sheet-description {
	text-align: left;
	font-size: 11px;
	margin: 10px;
	background: rgb(0 0 0 / 50%);
	border-radius: 10px;
	border: 1px solid black;
	color: #b9b9b9;
	padding: 5px;
}
/*디폴트*/
.sheet-rolltemplate-coc-bomadness-summ .inlinerollresult,
.sheet-rolltemplate-coc-bomadness-summ .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-bomadness-summ .inlinerollresult.fullfail,
.sheet-rolltemplate-coc-bomadness-summ .inlinerollresult.importantroll {
	background-color: transparent;
	border: none;
}
.sheet-rolltemplate-coc-bomadness-summ .inlinerollresult.showtip.tipsy-n-right {
	background-color: transparent !important;
	border: none !important;
}
/* 기능치/보너스 롤테이블 ---------------------------------------------------*/
.sheet-rolltemplate-coc {
	max-width: 500px;
	width: 100%;
}
.sheet-rolltemplate-coc {
	width: 100%;
	text-align: center;
	font-family: "Chosunilbo_myungjo";
	color: white;
}
/*상단*/
.sheet-rolltemplate-coc div.sheet-top {
	background-color: #1c1c20;
	border: 1px solid rgb(0, 0, 0);

	padding: 1px 10px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 11px;
}
/*메인*/
.sheet-rolltemplate-coc div.sheet-body {
	display: grid;
	grid-template-columns: 1.25fr 1fr;
	align-items: center;

	margin-bottom: 2px;
	background-image: url(https://i.imgur.com/5GZde8V.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px 0px;

	border: 1px solid rgb(0, 0, 0);
}
/*메인 줄1*/
.sheet-rolltemplate-coc div.sheet-section {
	letter-spacing: 1px;
	color: #ffffff;
	text-shadow: 0 0 4px rgb(28 28 32);
	font-family: "Chosunilbo_myungjo";
	font-size: 15px;
}
.sheet-rolltemplate-coc div.sheet-section1 {
	margin: 10px 0px;
	grid-area: 1/2/3/4;
}
.sheet-rolltemplate-coc div.sheet-guide {
	font-size: 12px;
	color: #c4c4c4;
	background: rgb(0 0 0 / 50%);
	border-radius: 4px;
	margin: 2px 10px;
	border: 1px solid black;
	padding: 2px 0px;
}
.sheet-rolltemplate-coc div.sheet-rolled {
	font-size: 12px;
	color: #ffffff;
	background-color: #35353b;
	backdrop-filter: blur(4px);
	border: 1px solid rgb(0 0 0 / 50%);
	border-radius: 4px;
	margin: 0px 10px;
	padding: 2px 0px;
}
.sheet-rolltemplate-coc div.sheet-section2 {
	padding: 10px 10px;
}
.sheet-rolltemplate-coc div.sheet-pair {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	column-gap: 10px;
	border: 1px solid black;
	border-radius: 3px;
	margin: 2px;
	background-color: rgb(0 0 0 / 50%);
	font-size: 10px;
}

.sheet-rolltemplate-coc div.sheet-pair-lable {
	color: #ffffff;
}
.sheet-rolltemplate-coc div.sheet-pair-result {
	color: #ffffff;
	text-align: center;
}
/* 하단 */
.sheet-rolltemplate-coc div.sheet-foot {
	text-align: left;
	font-size: 12px;
	background-color: rgb(90 90 90);
	border-radius: 1px;
	margin-bottom: 10px;
	padding: 2px 10px;
	margin-top: -2px;
}
/*디폴트*/
.sheet-rolltemplate-coc .inlinerollresult,
.sheet-rolltemplate-coc .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc .inlinerollresult.fullfail,
.sheet-rolltemplate-coc .inlinerollresult.importantroll {
	background-color: transparent;
	border: none;
}
.sheet-rolltemplate-coc .inlinerollresult.showtip.tipsy-n-right {
	background-color: transparent !important;
	border: none !important;
}
/*이미지*/
.sheet-rolltemplate-coc img.TEMBG-T {
	width: 96%;
	margin-bottom: -50px;
}
.sheet-rolltemplate-coc img.TEMBG-B {
	margin-top: -50px;
	width: 96%;
}
/*공격/보너스 롤테이블 ---------------------------------------------------*/
.sheet-rolltemplate-coc-attack {
	max-width: 500px;
	width: 100%;
	text-align: center;
	font-family: "Chosunilbo_myungjo";
	color: white;
}
/*상단*/
.sheet-rolltemplate-coc-attack div.sheet-top {
	background-color: #1c1c20;
	border: 1px solid rgb(0, 0, 0);

	padding: 1px 10px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 11px;
}
/*메인*/
.sheet-rolltemplate-coc-attack div.sheet-body {
	display: grid;
	grid-template-columns: 1.25fr 1fr;
	align-items: center;

	margin-bottom: 2px;
	background-image: url(https://i.imgur.com/5GZde8V.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px 0px;

	border: 1px solid rgb(0, 0, 0);
}
/*메인 줄1*/
.sheet-rolltemplate-coc-attack div.sheet-section {
	letter-spacing: 1px;
	color: #ffffff;
	text-shadow: 0 0 4px rgb(28 28 32);
	font-family: "Chosunilbo_myungjo";
	font-size: 15px;
}
.sheet-rolltemplate-coc-attack div.sheet-section1 {
	margin: 10px 0px;
	grid-area: 1/2/3/4;
}
.sheet-rolltemplate-coc-attack div.sheet-guide {
	font-size: 12px;
	color: #c4c4c4;
	background: rgb(0 0 0 / 50%);
	border-radius: 4px;
	margin: 2px 10px;
	border: 1px solid black;
	padding: 2px 0px;
}
.sheet-rolltemplate-coc-attack div.sheet-rolled {
	font-size: 12px;
	color: #ffffff;
	background-color: #35353b;
	backdrop-filter: blur(4px);
	border: 1px solid rgb(0 0 0 / 50%);
	border-radius: 4px;
	margin: 0px 10px;
	padding: 2px 0px;
}
.sheet-rolltemplate-coc-attack div.sheet-section2 {
	padding: 10px 10px;
}
.sheet-rolltemplate-coc-attack div.sheet-pair {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	column-gap: 10px;
	border: 1px solid black;
	border-radius: 3px;
	margin: 2px;
	background-color: rgb(0 0 0 / 50%);
	font-size: 10px;
}

.sheet-rolltemplate-coc-attack div.sheet-pair-lable {
	color: #ffffff;
}
.sheet-rolltemplate-coc-attack div.sheet-pair-result {
	color: #ffffff;
	text-align: center;
}
/* 하단 */
.sheet-rolltemplate-coc-attack div.sheet-foot {
	text-align: left;
	font-size: 12px;
	background-color: rgb(90 90 90);
	border-radius: 1px;
	margin-bottom: 10px;
	padding: 2px 10px;
	margin-top: -2px;
}
/*디폴트*/
.sheet-rolltemplate-coc-attack .inlinerollresult,
.sheet-rolltemplate-coc-attack .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-attack .inlinerollresult.fullfail,
.sheet-rolltemplate-coc-attack .inlinerollresult.importantroll {
	background-color: transparent;
	border: none;
}
.sheet-rolltemplate-coc-attack .inlinerollresult.showtip.tipsy-n-right {
	background-color: transparent !important;
	border: none !important;
}
/*이미지*/
.sheet-rolltemplate-coc-attack img.TEMBG-T {
	width: 96%;
	margin-bottom: -50px;
}
.sheet-rolltemplate-coc-attack img.TEMBG-B {
	margin-top: -50px;
	width: 96%;
}
/* 기능치 롤테이블 ---------------------------------------------------*/
.sheet-rolltemplate-coc-1 {
	max-width: 500px;
	width: 100%;
	text-align: center;
	font-family: "Chosunilbo_myungjo";
	color: white;
}
/*상단*/
.sheet-rolltemplate-coc-1 div.sheet-top {
	background-color: #1c1c20;

	padding: 1px 10px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 11px;
	border: 1px solid rgb(0, 0, 0);
}
/*메인*/
.sheet-rolltemplate-coc-1 div.sheet-body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	margin-bottom: 2px;
	background-image: url(https://i.imgur.com/5GZde8V.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px 0px;

	border: 1px solid rgb(0, 0, 0);
}
.sheet-rolltemplate-coc-1 div.sheet-skill {
	letter-spacing: 1px;
	color: #ffffff;
	text-shadow: 0 0 4px rgb(28 28 32);
	font-family: "Chosunilbo_myungjo";
	font-size: 15px;
}
.sheet-rolltemplate-coc-1 div.sheet-section1 {
	margin: 10px 0px;
	grid-area: 1/2/3/4;
}
.sheet-rolltemplate-coc-1 div.sheet-divet-guide {
	font-size: 12px;
	color: #c4c4c4;
	background: rgb(0 0 0 / 50%);
	border-radius: 4px;
	margin: 2px 10px;
	border: 1px solid black;
	padding: 2px 0px;
}
.sheet-rolltemplate-coc-1 div.sheet-rolled {
	color: #ffffff;
	background-color: #35353b;
	backdrop-filter: blur(4px);
	border: 1px solid rgb(0 0 0 / 50%);
	border-radius: 4px;
	margin: 0px 10px;
	padding: 2px 0px;
}
.sheet-rolltemplate-coc-1 div.sheet-section2 {
	color: #fff;
	text-shadow: 1px 1px 8px rgb(64 0 2), 1px 1px 10px #a60000;
	text-align: center;
	font-family: "행복고흥L";
	font-size: 41px;
	margin-top: 10px;
}
.sheet-rolltemplate-coc-1 div.sheet-template_value1 {
	font-family: "Major Mono Display", monospace;
	font-size: 40px;
	padding-top: 10px;
	text-shadow: none;
	margin-bottom: -15px;
}
/*이미지*/

/*디폴트*/
.sheet-rolltemplate-coc-1 .inlinerollresult,
.sheet-rolltemplate-coc-1 .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-1 .inlinerollresult.fullfail,
.sheet-rolltemplate-coc-1 .inlinerollresult.importantroll {
	background-color: transparent;
	border: none;
}
.sheet-rolltemplate-coc-1 .inlinerollresult.showtip.tipsy-n-right {
	background-color: transparent !important;
	border: none !important;
}

/* 공격 롤테이블---------------------------------------------------*/
.sheet-rolltemplate-coc-attack-1 {
	max-width: 500px;
	width: 100%;
	text-align: center;
	font-family: "Chosunilbo_myungjo";
	color: white;
}
/*상단*/
.sheet-rolltemplate-coc-attack-1 div.sheet-top {
	background-color: #1c1c20;
	padding: 1px 10px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 11px;
	border: 1px solid rgb(0, 0, 0);
}
/*메인*/
.sheet-rolltemplate-coc-attack-1 div.sheet-body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	margin-bottom: 2px;
	background-image: url(https://i.imgur.com/5GZde8V.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px 0px;

	border: 1px solid rgb(0, 0, 0);
}
.sheet-rolltemplate-coc-attack-1 div.sheet-skill {
	letter-spacing: 1px;
	color: #ffffff;
	text-shadow: 0 0 4px rgb(28 28 32);
	font-family: "Chosunilbo_myungjo";
	font-size: 15px;
}
.sheet-rolltemplate-coc-attack-1 div.sheet-section1 {
	margin: 10px 0px;
	grid-area: 1/2/3/4;
}
.sheet-rolltemplate-coc-attack-1 div.sheet-guide {
	font-size: 12px;
	color: #c4c4c4;
	background: rgb(0 0 0 / 50%);
	border-radius: 4px;
	margin: 2px 10px;
	border: 1px solid black;
	padding: 2px 0px;
}
.sheet-rolltemplate-coc-attack-1 div.sheet-rolled {
	color: #ffffff;
	background-color: #35353b;
	backdrop-filter: blur(4px);
	border: 1px solid rgb(0 0 0 / 50%);
	border-radius: 4px;
	margin: 0px 10px;
	padding: 2px 0px;
}
.sheet-rolltemplate-coc-attack-1 div.sheet-section2 {
	color: #fff;
	text-shadow: 1px 1px 8px rgb(64 0 2), 1px 1px 10px #a60000;
	text-align: center;
	font-family: "행복고흥L";
	font-size: 41px;
	margin-top: 10px;
}
.sheet-rolltemplate-coc-attack-1 div.sheet-template_value1 {
	font-family: "Major Mono Display", monospace;
	font-size: 40px;
	padding-top: 10px;
	text-shadow: none;
	margin-bottom: -15px;
}

/*이미지*/

/*하단*/
.sheet-rolltemplate-coc-attack-1 div.sheet-foot {
	text-align: left;
	font-size: 12px;
	background-color: rgb(90 90 90);
	border-radius: 1px;
	margin-bottom: 10px;
	padding: 2px 10px;
	margin-top: -2px;
}
/*디폴트*/
.sheet-rolltemplate-coc-attack-1 .inlinerollresult,
.sheet-rolltemplate-coc-attack-1 .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-attack-1 .inlinerollresult.fullfail,
.sheet-rolltemplate-coc-attack-1 .inlinerollresult.importantroll {
	background-color: transparent;
	border: none;
}
.sheet-rolltemplate-coc-attack-1 .inlinerollresult.showtip.tipsy-n-right {
	background-color: transparent !important;
	border: none !important;
}
/* NPC 공격 롤테이블 ---------------------------------------------------*/
.sheet-rolltemplate-coc-minionattack {
	max-width: 500px;
	width: 100%;
	text-align: center;
	font-family: "Chosunilbo_myungjo";
	color: white;
}
/*상단*/
.sheet-rolltemplate-coc-minionattack div.sheet-top {
	background-color: #1c1c20;

	padding: 1px 10px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 11px;
	border: 1px solid rgb(0, 0, 0);
}
/*메인*/
.sheet-rolltemplate-coc-minionattack div.sheet-body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	margin-bottom: 2px;
	background-image: url(https://i.imgur.com/5GZde8V.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px 0px;

	border: 1px solid rgb(0, 0, 0);
}
.sheet-rolltemplate-coc-minionattack div.sheet-skill {
	letter-spacing: 1px;
	color: #ffffff;
	text-shadow: 0 0 4px rgb(28 28 32);
	font-family: "Chosunilbo_myungjo";
	font-size: 15px;
}
.sheet-rolltemplate-coc-minionattack div.sheet-section1 {
	margin: 10px 0px;
	grid-area: 1/2/3/4;
}
.sheet-rolltemplate-coc-minionattack div.sheet-guid {
	font-size: 12px;
	color: #c4c4c4;
	background: rgb(0 0 0 / 50%);
	border-radius: 4px;
	margin: 2px 10px;
	border: 1px solid black;
	padding: 2px 0px;
}
.sheet-rolltemplate-coc-minionattack div.sheet-rolled {
	color: #ffffff;
	background-color: #35353b;
	backdrop-filter: blur(4px);
	border: 1px solid rgb(0 0 0 / 50%);
	border-radius: 4px;
	margin: 0px 10px;
	padding: 2px 0px;
}
.sheet-rolltemplate-coc-minionattack div.sheet-section2 {
	color: #fff;
	text-shadow: 1px 1px 8px rgb(64 0 2), 1px 1px 10px #a60000;
	text-align: center;
	font-family: "행복고흥L";
	font-size: 41px;
	margin-top: 10px;
}
.sheet-rolltemplate-coc-minionattack div.sheet-template_value1 {
	font-family: "Major Mono Display", monospace;
	font-size: 40px;
	padding-top: 10px;
	text-shadow: none;
	margin-bottom: -15px;
}
/*이미지*/

/*하단*/
.sheet-rolltemplate-coc-minionattack div.sheet-foot {
	text-align: left;
	font-size: 12px;
	background-color: rgb(90 90 90);
	border-radius: 1px;
	margin-bottom: 10px;
	padding: 2px 10px;
	margin-top: -2px;
}
/*디폴트*/
.sheet-rolltemplate-coc-minionattack .inlinerollresult,
.sheet-rolltemplate-coc-minionattack .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc-minionattack .inlinerollresult.fullfail,
.sheet-rolltemplate-coc-minionattack .inlinerollresult.importantroll {
	background-color: transparent;
	border: none;
}
.sheet-rolltemplate-coc-minionattack .inlinerollresult.showtip.tipsy-n-right {
	background-color: transparent !important;
	border: none !important;
}
